@import './base.css';
@import './colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


/* global classes */

.bg-default {
  background-color: var(--color-cont-dim);
}

.bg-white {
  background-color: var(--vt-c-white);
}

.text-primary {
  color: var(--color-primary);
}


/* global elements styles */

body {
  @apply bg-default;
}

#app {
  @apply flex flex-col min-h-screen;
}

span {
  font-weight: inherit;
}

h1 {
  @apply font-black text-4xl;
}

h2 {
  @apply font-black text-2xl;
}